@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --dark: #142447;
    --red: #e33f5a;
    --gray: #eaecee;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 56px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.free-bottom {
    padding-bottom: 200px;
}

.bg--dark {
    background-color: black;
}

/* Header */

.header-container {
    background-color: white;
}

.header-container .inner {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wave {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.header-container .logo {
    z-index: 99;
}

.header-container .left {
    position: absolute;
    left: 0;
    top: 20%;
    z-index: 5;
}

.header-container .right {
    position: absolute;
    right: 0;
    top: 20%;
    z-index: 5;
}

@media (max-width: 960px) { 
    .header-container .left {
        display: none;
    }
    .header-container .right {
        display: none;
    }
}

@media (max-width: 767.98px) { 
    .header-container .logo {
        width: 300px;
        height: auto;
    }
}

/* Staffs */
.staffs-container {
    background-color: var(--dark);
}

.staffs-container .title {
    text-align: center;
    color: var(--red);
}

.title h1 {
    font-size: 64px;
    margin-bottom: 56px;
}

.staffs-container .cards {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--red);
    width: 80%;
    max-width: 1200px;
    border-radius: 60px;
    padding: 120px 0;
    filter: drop-shadow(0px 40px 20px rgba(0, 0, 0, 0.5));
}

@media (max-width: 920px) { 
    .staffs-container .cards {
        flex-direction: column;
    }
}

.staffs-container .card2 {
    margin: 10px 0;
    width: 210px;
    text-align: center;
}

.staffs-container img {
    margin-bottom: 20px;
}

.staffs-container h2 {
    font-size: 18px;
    font-weight: bold;
}